[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
TestResults
packages
.idea/
.vs/

coverage
coverage.xml

*.com
*.dll
*.exe
*.pdb
*.obj

*.zip
*.log

*.mdf
*.ldf
*.suo
*.vssscc
*.vspscc
*.psess
*.vsp
*.user
*.nupkg
*.nuspec
*.diff
*.design
*.pfx

[Pp]laylist\
*.playlist

Thumbs.db