<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for xFunc" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1127" Action="Hidden" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1519" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE0090" Action="None" />
  </Rules>
</RuleSet>