<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xFunc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xFunc.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>576</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="NumbersExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandartMathExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandartLogicExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrigonometricExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HyperbolicExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitwiseExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstantsMathExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalMathExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstantsLogicExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AngleMeasurement" serializeAs="String">
                <value>Degree</value>
            </setting>
            <setting name="MaxCountOfExpressions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="AdditionalLogicExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberBase" serializeAs="String">
                <value>Decimal</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VarWindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VarWindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FuncWindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FuncWindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VarWindowWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="VarWindowHeight" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="FuncWindowWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="FuncWindowHeight" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="RememberSizeAndPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberRightToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberBaseAndAngle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatrixExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </xFunc.Properties.Settings>
    </userSettings>
</configuration>